
body{
    background-color:white;
    color:#00AEEF;
  }
   
   


  .navigation-container {
    display: grid;
    grid-template-columns: repeat(5, 19.74%);
    grid-gap: 4px;
    background-color: #00AEEF;
    padding: 4px;
  } 
  .navigation-container>div{
    background-color:white;
    text-align:center;
    padding:20px;
    font-size:40px;
  }
  



  .home-container{
    margin-top: -5px;
    display: grid;
    grid-template-columns: 49.8% 49.8%;
    grid-gap: 4px;
    justify-content: center;
    align-items: center;
    background-color: #00AEEF;
    padding:4px;
  }
  .image-div{
    padding: 0px;  
    width: 100%;
    height: 100%;
    margin-top: 161.5px;
    margin-bottom: 161.5px;
  }
   
  .home-container>div{
    background-color:white;
    text-align: center;
    padding:20px;
    font-size:40px;
  }
  #text1{
    margin-top: 50px;
    margin-bottom: 150px;
  }
  .button{
    background-color:white;
    text-decoration:none;
    display:inline-block;
    padding:11px;
    margin:4px 2px;
    color:#00AEEF;
    text-align:center;
    cursor:pointer;
    font-size:33px;
  }
   
  .button:hover{
    background-color:#00AEEF;
    color:white;
  }
   
  .btn1{
    border-radius:10px;
    border:4px solid #00AEEF;
    margin-bottom: 50px;
  }
   



  .team-container{
    text-align: center;
    background-color: white;
    border-left:4px solid #00AEEF;
    border-right:4px solid #00AEEF;
    padding: 50px;
  }
   
  /* .team-container>div{
    background-color:white;
    padding:50px;
  } */
  

  .circle{
    border-radius:50%;
    width:150px;
    text-align: center;
    height:150px;
    margin: 10px;
    display:inline-block;
    background-color:white;
    border:4px solid #00AEEF;
  }

  #circle1:hover{
    background-color:#00AEEF;
    color:white;
  }
  #circle2:hover{
    background-color:#0000FF;
    color:white;
  }
  #circle3:hover{
    background-color:#FF00FF;
    color:white;
  }




   
   
  .about-container{
    text-align: center;
    background-color:white;
    border-left:4px solid #00AEEF;
    border-right:4px solid #00AEEF;
    border-bottom:4px solid #00AEEF;
    padding: 50px;
  }
   
  .about-container>div{
    background-color:white;
    text-align: center;
  }

  .square{
    border-radius:25px;
    width:150px;
    display:inline-block;
    height:100px;
    margin-right: 7.5px;
    margin-left: 7.5px;
    background-color:white;
    border:4px solid #00AEEF;
  }

  .square:hover{
    background-color:#00AEEF;
    color:white;
  }

  .contact-container{
    text-align: center;
    background-color: white;
    border-left:4px solid #00AEEF;
    border-right:4px solid #00AEEF;
    border-bottom:4px solid #00AEEF;
    padding: 10px;
  }
  .contact-container>p{
      font-size: 25px;
  }